.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
.punctuation {
    -fx-fill: grey;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: darkolivegreen;
}
.number {
    -fx-fill: darkred;
}
.property {
    -fx-fill: darkorchid;
}
.propertyvalue {
    -fx-fill: coral;
}
