* {
    -fx-base-background: #3C3F41;
    -fx-base-font-color: #A4ABB4;
    -fx-base-border-color: #0F0F0E;
}
.label {
    -fx-text-fill: -fx-base-font-color;
}
.root, .tool-bar, .text-field, .button, .thumb {
    -fx-base: -fx-base-background;
    -fx-text-fill: -fx-base-font-color;
}
.tool-bar, .status-bar {
    -fx-border-color: -fx-base-border-color;
}
.text-field {
    -fx-background-color: #45494A;
    -fx-border-color: -fx-base-border-color;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}
.filePathBar {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.thumb {
    -fx-border-radius: 100;
    -fx-border-color: -fx-base-border-color;
}


/* Text editor */
.styled-text-area {
    -fx-background-color: #2B2B2B;
}
.styled-text-area .text {
    -fx-fill: -fx-base-font-color;
}
.paragraph-box:has-caret {
    -fx-background-color: #323232;
}
.caret {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}
.lineno {   /* Line number factory */
    -fx-background-color: #313335;
}


/* Highlighting */
.styled-text-area .text.punctuation {
    -fx-fill: grey;
    -fx-font-weight: bold;
}
.styled-text-area .text.string {
    -fx-fill: darkolivegreen;
}
.styled-text-area .text.number {
    -fx-fill: darkred;
}
.styled-text-area .text.property {
    -fx-fill: darkorchid;
}
.styled-text-area .text.propertyvalue {
    -fx-fill: coral;
}