* {
    -fx-base-background: #3C3F41;
    -fx-base-font-color: #A4ABB4;
    -fx-base-border-color: #0F0F0E;
    -fx-text-field-background-color: #45494A;
}
.label {
    -fx-text-fill: -fx-base-font-color;
}
.root, .tool-bar, .text-field, .button, .thumb {
    -fx-base: -fx-base-background;
    -fx-text-fill: -fx-base-font-color;
}
.tool-bar {
    -fx-border-color: -fx-base-border-color;
}
.text-field {
    -fx-background-color: -fx-text-field-background-color;
    -fx-border-color: -fx-base-border-color;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}
.file-path-bar {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.thumb {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-border-color: -fx-base-border-color;
}

/* Error message bar */
.message-bar #collapsible-pane > .title > .arrow-button {
    visibility: hidden;
}
.message-bar #collapsible-pane > .title{
    -fx-padding: 10 0 10 -8;
 }
.message-bar .message-count-overlay {
    -fx-text-fill: black;
}

/* Zoom spinner */
#zoom-spinner {
    -fx-focus-color: -fx-base-border-color;
    -fx-faint-focus-color: -fx-base-border-color;
    -fx-background-color: transparent;
}
#zoom-spinner .text-field {
    -fx-border-radius: 100 0 0 100;
    -fx-background-radius: 100 0 0 100;
}
#zoom-spinner .increment-arrow-button {
    -fx-border-radius: 0 100 0 0;
    -fx-background-radius: 0 100 0 0;
}
#zoom-spinner .decrement-arrow-button {
    -fx-border-radius: 0 0 100 0;
    -fx-background-radius: 0 0 100 0;
}

/* Text editor */
.styled-text-area {
    -fx-background-color: #2B2B2B;
}
.styled-text-area .text {
    -fx-fill: -fx-base-font-color;
}
.paragraph-box:has-caret {
    -fx-background-color: #323232;
}
.caret {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}
.lineno {   /* Line number factory */
    -fx-background-color: #313335;
}

/* Editor search pane */
.editor-search-pane {
    -fx-background-color: -fx-base-background;
    -fx-padding: 2 3 2 3;
}
.editor-search-pane .label {
    -fx-border-color: transparent transparent transparent -fx-base-border-color;
    -fx-padding: 0 5 0 5;
}
.editor-search-pane .button {
    -fx-padding: 0 4 0 4;
    -fx-margin: 25 25 25 25;
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-background-color: transparent;
}

.editor-search-pane .button:hover {
    -fx-effect: innershadow(gaussian, pink, 15, 0, 0, 0);
}


/* Highlighting */
.styled-text-area .text.punctuation {
    -fx-fill: grey;
    -fx-font-weight: bold;
}
.styled-text-area .text.string {
    -fx-fill: darkolivegreen;
}
.styled-text-area .text.number {
    -fx-fill: crimson;
}
.styled-text-area .text.property {
    -fx-fill: darkorchid;
}
.styled-text-area .text.propertyvalue {
    -fx-fill: coral;
}