.filePathBar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #77889988, lightgray);
}
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
.punctuation {
    -fx-fill: grey;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: darkolivegreen;
}
.number {
    -fx-fill: darkred;
}
.property {
    -fx-fill: darkorchid;
}
.propertyvalue {
    -fx-fill: coral;
}